<div class="ui segment" style="margin: 7% 0px 0px 0px;background-color: #f3f3f3;border: 0; position: relative;">
  <div class="ui center aligned container">
    <img src="https://i.imgur.com/Mjuitjf.png?1" class="ui centered tiny image">
    <div class="ui horizontal inverted small divided link list">
      <i style="color: #737373;">© Copyright 2018 | Vinícius Jorge Pereira</i>
      <a class="item" style="color: #737373;" href="http://github.com/viniciusjps/flashcard">Github Project</a>
    </div>
  </div>
</div>