<div class="ui container">
  <div class="ui two column very relaxed stackable grid">
    <div class="four wide column">
      <h2 class="ui header">
        <i class="user outline icon"></i>
        <div class="content">
          Perfil
          <div class="sub header">
            Dashboard
          </div>
        </div>
      </h2>
      <br>
      <div class="ui one column grid">
        <div class="column">
          <button class="ui teal fluid button" (click)="setCommand('cards')" title="Exibir seus cards">
            Seus cards
          </button>
        </div>
        <div class="column">
          <button class="ui teal fluid button" (click)="addNewCard()" routerLink="perfil/novo-card" title="Adicionar um novo card">
            Novo card
          </button>
        </div>
        <div class="column">
          <button class="ui teal fluid button" title="Editar card">
            Editar card
          </button>
        </div>
        <div class="column">
          <button class="ui teal fluid button" (click)="setCommand('editar-perfil')" title="Editar perfil">
            Editar perfil
          </button>
        </div>
        <div class="column">
          <button class="ui red fluid button" (click)="logout()" title="Sair">
            Logout
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="twelve wide column">
      <app-perfil-editar *ngIf="mode === 'editar-perfil'"></app-perfil-editar>
      <app-cards-perfil *ngIf="mode === 'cards'"></app-cards-perfil>
    </div>
  </div>
</div>