<div class="ui container">
  <div class="ui two column very relaxed stackable grid">
    <div class="four wide column">
      <h2 class="ui header">
        <i class="user outline icon"></i>
        <div class="content">
          Perfil
          <div class="sub header">
            Painel de controle
          </div>
        </div>
      </h2>
      <br>
      <div class="ui one column grid">
        <div class="column">
          <button class="ui teal fluid button" (click)="addNewCard()"
          routerLink="perfil/novo-card">
            Novo card</button>
        </div>
        <br>
        <div class="column">
          <button class="ui teal fluid button">Editar card</button>
        </div>
        <br>
        <div class="column">
          <button class="ui teal fluid button" (click)="getShowEditProfile(setShowEditProfile())">
            Editar perfil</button>
        </div>
        <br>
        <div class="column">
          <button class="ui red fluid button" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
    <br><br>
    <div class="twelve wide column">
      <app-perfil-editar *ngIf="getShowEditProfile()"></app-perfil-editar>
      <app-cards-perfil></app-cards-perfil>
    </div>
  </div>
</div>