<div class="ui container">
  <div class="ui three middle aligned very relaxed stackable cards">
    <div class="ui card shape" *ngFor="let card of cards">
      <div class="ui side {{ getSideType(card.getSeeAnswer()) }}">
        <div class="ui teal fluid card" [@rotate]="getAnimation(card.getSeeAnswer())">
          <div class="content">
            <div class="right floated meta">
              <a (click)="comments(card.getId())">
                <i title="Exibir comentários" class="comments icon" style="margin-left: 5px"></i>
              </a>
            </div>
            <div class="header">{{ card.getDiscipline() | uppercase }}</div>
            <div class="description">
              <p>{{ card.getQuestion() }}</p>
            </div>
          </div>
          <button class="ui botton attached teal button" (click)="card.setSeeAnswer(!card.getSeeAnswer())">
            ver resposta
          </button>
          <div class="extra content">
            <div class="left floated">
              <img class="ui avatar image" src="{{ card.getImage() }}">
            </div>
          </div>
        </div>
      </div>
      <div class="ui side {{ getSideType(!card.getSeeAnswer()) }}">
        <div class="ui yellow fluid card" [@rotate]="getAnimation(!card.getSeeAnswer())">
          <div class="content">
            <div class="left floated meta">
              <a (click)="comments(card.getId())">
                <i title="Exibir comentários" class="comments icon" style="margin-right: 5px"></i>
              </a>
            </div>
            <div class="right aligned header">{{ card.getDiscipline() | uppercase }}</div>
            <div class="right aligned description">
              <p>{{ card.getAnswer() }}</p>
            </div>
          </div>
          <button class="ui botton attached yellow button" (click)="card.setSeeAnswer(!card.getSeeAnswer())">
            ver pergunta
          </button>
          <div class="extra content">
            <div class="right floated author">
              <img class="ui avatar image" src="{{ card.getImage() }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>