<div class="ui container">
  <div class="ui two middle aligned very relaxed stackable cards">
    <div class="ui card shape" *ngFor="let card of getCards()">
      <div class="ui side {{ getSideType(card.getSeeAnswer()) }}">
        <div class="ui teal fluid card" [@rotate]="getAnimation(card.getSeeAnswer())">
          <div class="content">
            <div class="right floated meta">#{{ card.getId() | number:'2.0' }}</div>
            <div class="header">{{ card.getDiscipline() | uppercase }}</div>
            <div class="description">
              <p>{{ card.getQuestion() }}</p>
            </div>
          </div>
          <button class="ui botton attached teal button"
          (click)="card.setSeeAnswer(!card.getSeeAnswer())">
            ver resposta
          </button>
          <div class="extra content">
            <div class="right floated">
              <i class="heart like icon"
              (click)="card.addRating()">
              </i>
              {{ card.getRating() }}
            </div>
            <span><i class="user icon"></i> {{ card.getAuthor() }} </span>
          </div>
        </div>
      </div>
      <div class="ui side {{ getSideType(!card.getSeeAnswer()) }}">
        <div class="ui teal fluid card" [@rotate]="getAnimation(!card.getSeeAnswer())">
          <div class="content">
            <div class="right floated meta">#{{ card.getId() | number:'2.0' }}</div>
            <div class="header">{{ card.getDiscipline() | uppercase }}</div>
            <div class="description">
              <p>{{ card.getAnswer() }}</p>
            </div>
          </div>
          <button class="ui botton attached teal button"
          (click)="card.setSeeAnswer(!card.getSeeAnswer())">
            ver pergunta
          </button>
          <div class="extra content">
            <div class="right floated">
              <i class="heart like icon"
              (click)="card.addRating()">
              </i>
              {{ card.getRating() }}
            </div>
            <span><i class="user icon"></i> {{ card.getAuthor() }} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
