<div class="ui container">
  <div class="ui two column very relaxed stackable grid">
    <div class="six wide column">
      <div class="ui card fluid shape">
        <div class="ui side {{ getSideType(card.getSeeAnswer()) }}">
          <div class="ui teal fluid card" [@rotate]="getAnimation(card.getSeeAnswer())">
            <div class="content">
              <div class="right floated meta">&nbsp; #{{ card.getId() | number:'3.0' }}</div>
              <div class="header">{{ card.getDiscipline() | uppercase }}</div>
              <div class="description">
                <p>{{ card.getQuestion() }}</p>
              </div>
            </div>
            <button class="ui botton attached teal button" (click)="card.setSeeAnswer(!card.getSeeAnswer())">
              ver resposta
            </button>
            <div class="extra content">
              <div class="left floated author">
                <img class="ui avatar image" src="{{ card.getImage() }}">
              </div>
            </div>
          </div>
        </div>
        <div class="ui side {{ getSideType(!card.getSeeAnswer()) }}">
          <div class="ui yellow fluid card" [@rotate]="getAnimation(!card.getSeeAnswer())">
            <div class="content">
              <div class="left floated meta">#{{ card.getId() | number:'3.0' }} &nbsp;</div>
              <div class="right aligned header">{{ card.getDiscipline() | uppercase }}</div>
              <div class="right aligned description">
                <p>{{ card.getAnswer() }}</p>
              </div>
            </div>
            <button class="ui botton attached yellow button" (click)="card.setSeeAnswer(!card.getSeeAnswer())">
              ver pergunta
            </button>
            <div class="extra content">
              <div class="right floated author">
                <img class="ui avatar image" src="{{ card.getImage() }}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <div class="ui minimal comments">
        <h3 class="ui horizontal divider header">
          <i class="comments outline icon"></i>
          Comentários
        </h3>
        <div class="comment">
          <a class="avatar">
            <img src="/images/avatar/small/matt.jpg">
          </a>
          <div class="content">
            <i class="author">User aqui</i>
            <div class="metadata">
              <span class="date">Data aqui</span>
            </div>
            <div class="text">
              Texto aqui
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>