<div class="ui container">
  <div class="ui one column grid" *ngIf="!showData">
    <br>
    <div class="ui large active centered inline text loader">Aguarde...</div>
  </div>
  <div *ngIf="showData">
    <div class="ui two column very relaxed stackable grid">
      <div class="six wide column">
        <div class="ui breadcrumb">
          <a title="Voltar" routerLink="/mural" class="section">Mural</a>
          <i class="right angle icon divider"></i>
          <div class="active section">Comentários</div>
        </div>
        <div class="ui card fluid shape">
          <div class="ui side {{ getSideType(card.getSeeAnswer()) }}">
            <div class="ui teal fluid card" [@rotate]="getAnimation(card.getSeeAnswer())">
              <div class="content">
                <div class="right floated meta">&nbsp; #{{ card.getId() | number:'3.0' }}</div>
                <div class="header">{{ card.getDiscipline() | uppercase }}</div>
                <div class="description">
                  <p markdown>{{ card.getQuestion() }}</p>
                </div>
              </div>
              <button class="ui botton attached teal button" (click)="card.setSeeAnswer(!card.getSeeAnswer())">
                ver resposta
              </button>
              <div class="extra content">
                <div class="left floated author">
                  <img class="ui avatar image" src="{{ card.getImage() }}">
                </div>
              </div>
            </div>
          </div>
          <div class="ui side {{ getSideType(!card.getSeeAnswer()) }}">
            <div class="ui yellow fluid card" [@rotate]="getAnimation(!card.getSeeAnswer())">
              <div class="content">
                <div class="left floated meta">#{{ card.getId() | number:'3.0' }} &nbsp;</div>
                <div class="right aligned header">{{ card.getDiscipline() | uppercase }}</div>
                <div class="description">
                  <p markdown>{{ card.getAnswer() }}</p>
                </div>
              </div>
              <button class="ui botton attached yellow button" (click)="card.setSeeAnswer(!card.getSeeAnswer())">
                ver pergunta
              </button>
              <div class="extra content">
                <div class="right floated author">
                  <img class="ui avatar image" src="{{ card.getImage() }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ten wide column">
        <div class="ui minimal comments">
          <h3 class="ui horizontal divider header">
            <i class="comments outline icon"></i>
            Comentários
          </h3>
          <div *ngIf="!hasComments" @enterLeave>
            <h2 class="ui header">
              Sem comentários
              <div class="sub header">Adicione um novo</div>
            </h2>
            <div class="ui form">
              <div class="ui field" *ngIf="isLogged" @enterLeave>
                <textarea rows="2" placeholder="" #newComment></textarea>
                <button title="Adicionar comentário" class="ui compact labeled icon green button" (click)="publishComment(newComment.value)"
                  style="margin-top: 5px;">
                  <i class="paper plane icon"></i>
                  enviar
                </button>
              </div>
            </div>
          </div>
          <div class="comment" *ngFor="let com of comments" @enterLeave>
            <a class="avatar">
              <img src="{{ com.getImage() }}">
            </a>
            <div class="content">
              <i class="author">{{ getDisplayName(com.getAuthor()) }}</i>
              <div class="metadata">
                <span class="date">
                  <i class="clock outline icon"></i>
                  {{ getTime(com.getDate()) }}
                </span>
              </div>
              <div class="metadata" *ngIf="com.getEdit()" @enterLeave>
                <p><strong>editado</strong></p>
              </div>
              <div class="metadata" *ngIf="edit(com.getEmail())" @enterLeave>
                <a class="ui circular label" (click)="com.setToEdit()">editar</a>
                <a (click)="deleteComment(com.getId())">
                  <i title="Apagar comentário" class="trash alternate outline red icon"></i>
                </a>
              </div>
              <div class="text" *ngIf="!com.getToEdit()" @enterLeave>
                {{ com.getMessage() }}
              </div>
              <div class="ui form">
                <div class="ui field" *ngIf="com.getToEdit()" @enterLeave>
                  <textarea rows="2" value="{{ com.getMessage() }}" #update></textarea>
                  <button title="Atualizar comentário" class="ui compact labeled icon blue button" (click)="editComment(com, update.value)"
                    style="margin-top: 5px;">
                    <i class="save icon"></i>
                    salvar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="hasComments && isLogged" @enterLeave>
          <h2 class="ui header">
            <div class="sub header">Adicione um novo comentário</div>
          </h2>
          <div class="ui form">
            <div class="ui field">
              <textarea rows="2" placeholder="" #newComment></textarea>
              <button title="Adicionar comentário" class="ui compact labeled icon green button" (click)="publishComment(newComment.value)"
                style="margin-top: 5px;">
                <i class="paper plane icon"></i>
                adicionar
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="!isLogged">
          <div class="sub header">
            É necessário fazer login para comentar
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
