<div class="ui container">
  <h3>Adicionar um novo card</h3>
  <div class="ui raised teal segment">
    <h4>Disciplina: </h4>
    <div class="ui fluid input">
      <input type="text" placeholder="Informe a disciplina" #discipline>
    </div>

    <h4>Pergunta: </h4>
    <div class="ui form">
      <div class="ui field">
        <textarea rows="2" placeholder="Digite sua pergunta aqui" #question></textarea>
      </div>
    </div>

    <h4>Resposta: </h4>
    <div class="ui form">
      <div class="ui field">
        <textarea rows="2" placeholder="Digite sua resposta aqui" #answer></textarea>
      </div>
      <button class="ui teal button" 
      (click)="addCard(discipline.value,question.value,answer.value,false)"
      >enviar</button>
    </div>
  </div>
</div>

<br>
<div class="ui container">
  <div class="ui divider"></div>
</div>
<br>

<div class="ui container">
  <div class="ui three centered cards">
    <div class="ui {{ getColor() }} card" *ngFor="let card of cards" >
      <div class="content">
        <div class="right floated meta">
          #{{ card.getId() | number:'2.0' }}
        </div>
        <div class="header">{{ card.getDiscipline() | uppercase }}</div>
        <div class="description"><p><strong>P:</strong> {{ card.getQuestion() }}</p></div>
      </div>
      <button class="ui {{ getColor() }} button"
      (click)="card.setSeeAnswer(!card.getSeeAnswer())"
      >
      Ver resposta
      </button>
      <div class="extra content" *ngIf="card.seeAnswer" >
        <div>
          <i class="check icon"></i>
          {{ card.getAnswer() }}
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">
          <i class="heart like icon"
          (click)="card.addRating()"
          ></i>
           {{ card.getCardRating() }}
        </div>
      </div>
    </div>
  </div>
</div>
