<br><br><br><br>
<div class="ui container">
  <div class="ui middle aligned center aligned very relaxed stackable grid">
    <div>
      <div class="column">
        <img src="https://i.imgur.com/Z0y1dLQ.png" class="ui medium middle aligned image">
        <br><br><br>
        <div class="center aligned column">
          <div class="ui large labeled icon button fluid" *ngIf="!serverStatus">
            <i class="coffee icon"></i>
            Aguarde...
          </div>
          <div class="ui large teal labeled icon button fluid" (click)="socialSignIn('google')" *ngIf="serverStatus">
            <i class="google icon"></i>
            Login com o Google
          </div>
        </div>
      </div>
      <div class="" *ngIf="loading">
        <div class="ui normal active centered inline text loader" *ngIf="!serverStatus">Aguarde...</div>
      </div>
    </div>
  </div>
</div>