<div>
  <h2 class="ui header">
    <i class="user icon"></i>
    <div class="content">
      Editar perfil
      <div class="sub header">
        Username: {{ getUsername() }}
      </div>
    </div>
  </h2>
  <hr class="ui divider">
  <h3>
    <i class="user circle icon"></i>
    Deletar conta
  </h3>
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="six wide column" *ngIf="!status">
        <button class="ui red fluid button" (click)="delete()">Apagar</button>
      </div>
      <div class="six wide column" *ngIf="status">
        <button class="ui red fluid button" [disabled]="status">Apagando... aguarde</button>
      </div>
    </div>
    <div class="column">
      <h2 class="ui center aligned icon header">
        <i class="circular trash alternate outline icon"></i>
      </h2>
    </div>
  </div>
</div>