<div class="ui container">
  <div class="ui field">
    <h2 class="ui header">
      <i class="search icon"></i>
      <div class="content">
        Pesquise por:
        <div class="sub header">
          disciplina, perguntas ou palavras-chave
        </div>
      </div>
    </h2>
    <div class="ui left icon fluid input">
      <input type="text" placeholder="Pesquisar..." [(ngModel)]="search" value="{{ search }}">
      <i class="search icon"></i>
    </div>
  </div>
  <hr class="ui divider">
  <app-cards [cardsList]="getSearchList()"></app-cards>
</div>