<div class="ui container">
  <h2 class="ui header">
    <i class="window restore outline icon"></i>
    <div class="content">
      Seus cards
      <div class="sub header">
        Edite a privacidade dos seus cartões clicando no cadeado
      </div>
    </div>
    <hr class="ui divider">
  </h2>
  <div class="ui three column very relaxed stackable grid">
    <div class="column">
      <div class="ui animated fade fluid basic button"
      (click)="setTypeView('all')">
        <div class="visible content">Todos
          <a class="ui circular label"> {{ getSpecificCards(null).length }} </a>
        </div>
        <div class="hidden content">
          <i class="sync alternate icon"></i>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui animated fade fluid green basic button"
      (click)="setTypeView('hit')">
        <div class="visible content">Acertos  
          <a class="ui green circular label"> {{ getSpecificCards(true).length }} </a>
        </div>
        <div class="hidden content">
          <i class="check icon"></i>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui animated fade fluid red basic button"
      (click)="setTypeView('missed')">
        <div class="visible content">Erros
          <a class="ui red circular label"> {{ getSpecificCards(false).length }} </a>
        </div>
        <div class="hidden content">
          <i class="times icon"></i>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="ui two middle aligned very relaxed stackable cards">
    <div class="ui card shape" *ngFor="let card of getCards()">
      <div class="ui side {{ getSideType(card.getSeeAnswer()) }}">
        <div class="ui {{ getColor(card.getResult()) }} fluid card" [@rotate]="getAnimation(card.getSeeAnswer())">
          <div class="content">
            <div class="right floated meta">#{{ card.getId() | number:'2.0' }}</div>
            <div class="header">{{ card.getDiscipline() | uppercase }}</div>
            <div class="description">
              <p>{{ card.getQuestion() }}</p>
            </div>
          </div>
          <button class="ui botton attached {{ getColor(card.getResult()) }} button"
          (click)="card.setSeeAnswer(!card.getSeeAnswer())">
            ver resposta
          </button>
          <div class="extra content">
            <div class="right floated">
              <i class="heart like icon"
              (click)="card.addRating()">
              </i>
              {{ card.getRating() }}
            </div>
            <a (click)="card.setPrivacy(!card.getPrivacy())" *ngIf="card.getPrivacy()" ><i class="unlock icon"></i></a>
            <a (click)="card.setPrivacy(!card.getPrivacy())" *ngIf="!card.getPrivacy()" ><i class="lock icon"></i></a>
          </div>
        </div>
      </div>
      <div class="ui side {{ getSideType(!card.getSeeAnswer()) }}">
        <div class="ui {{ getColor(card.getResult()) }} fluid card" [@rotate]="getAnimation(!card.getSeeAnswer())">
          <div class="content">
            <div class="right floated meta">#{{ card.getId() | number:'2.0' }}</div>
            <div class="header">{{ card.getDiscipline() | uppercase }}</div>
            <div class="description">
              <p>{{ card.getAnswer() }}</p>
            </div>
          </div>

          <div class="extra content">
            <h5 class="left floated">Autoavaliação</h5>
            <div class="ui two column very relaxed stackable buttons">
              <button class="ui green basic button"
              (click)="hit(card.getId())"
              (click)="card.setSeeAnswer(!card.getSeeAnswer())">
                :)</button>
              <button class="ui red basic button"
              (click)="missed(card.getId())"
              (click)="card.setSeeAnswer(!card.getSeeAnswer())">
                :(</button>
            </div>
          </div>

          <button class="ui botton attached {{ getColor(card.getResult()) }} button"
          (click)="card.setSeeAnswer(!card.getSeeAnswer())">
            ver pergunta
          </button>
          <div class="extra content">
            <div class="right floated">
              <i class="heart like icon"
              (click)="card.addRating()">
              </i>
              {{ card.getRating() }}
            </div>
            <a (click)="card.setPrivacy(!card.getPrivacy())" *ngIf="card.getPrivacy()" ><i class="unlock icon"></i></a>
            <a (click)="card.setPrivacy(!card.getPrivacy())" *ngIf="!card.getPrivacy()" ><i class="lock icon"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
