<div class="ui container">
  <h2 class="ui icon header center aligned">
    <i class="edit outline icon"></i>
    <div class="content">
      Editar card
    </div>
  </h2>
  <br>
  <div class="ui teal segment">
    <div class="ui form">
      <h4>Disciplina: </h4>
      <select class="ui dropdown" #discipline>
        <option value="{{ item.valueOf() }}" *ngFor="let item of getDisciplines()"> {{ item }} </option>
      </select>
      <h4>
        Pergunta &nbsp;
        <span class="ui yellow tiny label" *ngIf="showAlert(question.value)" @enterLeave>
          <i class="exclamation icon"></i>
          Esse campo não pode ser vazio
        </span>
				<span class="ui green tiny label">
					<i class="check icon"></i>
					Markdown disponível
				</span>
      </h4>
      <div class="ui field">
        <textarea rows="4" #question value="{{ questionCard }}" [(ngModel)]="question.value"></textarea>
      </div>
      <h4>
        Resposta &nbsp;
        <span class="ui yellow tiny label" *ngIf="showAlert(answer.value)" @enterLeave>
          <i class="exclamation icon"></i>
          Esse campo não pode ser vazio
        </span>
      </h4>
      <div class="ui field">
        <textarea rows="4" #answer value="{{ answerCard }}" [(ngModel)]="answer.value"></textarea>
      </div>
      <div class="ui toggle checkbox">
        <input type="checkbox" name="privacidade" checked="checked" value="private" #privacy>
        <label>Tornar público</label>
      </div>
      <br>
      <br>
      <button class="ui teal fluid button" (click)="update(discipline.value,question.value,answer.value,privacy.checked)"
        [disabled]="answer.value == '' || question.value == ''">
        atualizar card
      </button>
    </div>
  </div>
  <br>
  <br>
</div>
