<div class="ui container">

  <h2 class="ui icon header center aligned">
    <i class="window restore outline icon"></i>
    <div class="content">
      Cards publicados
      <div class="sub header">
        Amplie nosso mural, colabore criando novos cards!
      </div>
    </div>
  </h2>
  <br>

  <div>
    <div>
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="center aligned column">
          <button class="ui teal fluid button">Crie um novo card</button>
        </div>
        <div style="position:relative; margin:0; padding:0;">
            <div class="ui vertical divider">Ou</div>
        </div>
        <div class="center aligned column">
          <div class="ui action input fluid">
            <input type="text" placeholder="Procure por disciplina, palavras-chave ou pelo id">
            <button class="ui icon button"><i class="search icon"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

</div>
<app-cards></app-cards>