<div class="ui container">
	<h2 class="ui icon header center aligned">
		<i class="window maximize outline icon"></i>
		<div class="content">
			Adicionar um novo card
		</div>
	</h2>
	<br>
	<div class="ui teal segment">
		<div class="ui form">
			<h4>Disciplina </h4>
			<select class="ui dropdown" #discipline>
				<option value="{{ item.valueOf() }}" *ngFor="let item of getDisciplines()"> {{ item }} </option>
			</select>
			<h4>
				Pergunta &nbsp;
				<span class="ui yellow tiny label" *ngIf="showAlert(question.value)" @enterLeave>
					<i class="exclamation icon"></i>
					Esse campo não pode ser vazio
				</span>
			</h4>
			<div class="ui field">
				<textarea rows="2" placeholder="Digite sua pergunta" #question [(ngModel)]="question.value"></textarea>
			</div>
			<h4>
				Resposta &nbsp;
				<span class="ui yellow tiny label" *ngIf="showAlert(answer.value)" @enterLeave>
					<i class="exclamation icon"></i>
					Esse campo não pode ser vazio
				</span>
			</h4>
			<div class="ui field">
				<textarea rows="2" placeholder="Digite sua resposta" #answer [(ngModel)]="answer.value"></textarea>
			</div>
			<div class="ui toggle checkbox">
				<input type="checkbox" name="privacidade" checked="checked" value="private" #privacy>
				<label>Tornar público</label>
			</div>
			<br>
			<br>
			<button class="ui teal fluid button" (click)="addCard(discipline.value,question.value,answer.value,privacy.checked)"
			 [disabled]="(showAlert(answer.value) || showAlert(question.value))">
				adicionar
			</button>
		</div>
	</div>
	<br>
	<br>
</div>