<div class="ui container">
  <img src="https://i.imgur.com/oXkUM9D.png?1" class="ui small left aligned image">
  <div class="ui divider"></div>
  <div class="ui content">
    <h3 class="ui header">
      Os Flashcards são pequenos cartões que auxiliam no resumo
      e memorização da matéria. Na área educacional traduzimos 
      o termo flashcard como um termo de aprendizagem rápida, 
      através da repetição, associação e memorização.
    </h3>
    <br><br><br>

    <div class="ui three column center aligned very relaxed stackable grid">
      <div class="ui column">
        <h2 class="ui teal icon header">
        <i class="question icon"></i>
        <div class="content">
          Como funciona?
        </div>
        <br>
        <div class="sub header">
          A técnica de memorização, conhecida como Flash card, 
          consiste na criação de pequenos cartões. A principal 
          vantagem de seu uso é a sua praticidade. Já que você 
          pode fazer uso de seus cartões durante vários momentos
          do dia, além do grande potencial de memorização a longo
          prazo.
        </div>
        </h2>
      </div>

      <div class="ui column">
        <h2 class="ui teal icon header">
        <i class="check icon"></i>
        <div class="content">
          Quero participar, como faço?
        </div>
        <br>
        <div class="sub header">
          Para utilizar esse serviço é necessário apenas a criação
          de um cadastro. Com ele feito, você poderá cadastrar
          vários cartões para aquela disciplina escolhida e informar a sua
          visibilidade, uma vez sendo público, ele ficará disponível no
          mural de cartões e qualquer usuário poderá ter acesso.
        </div>
        </h2>
      </div>

      <div class="ui column">
        <h2 class="ui teal icon header">
        <i class="window clipboard outline icon"></i>
        <div class="content">
          Dica
        </div>
        <br>
        <div class="sub header">
          Mantenha a objetividade utilizando palavras-chave e respondendo
          às questões em tópicos. Afinal, seus Flash cards devem ser 
          construídos para serem lidos com frequência. Seus cards podem 
          ser utilizados no ônibus, em casa, aguardando em uma fila de 
          banco ou no intervalo das aulas.
        </div>
        </h2>
      </div>

    </div>
  </div>
</div>
<br>
<app-footer></app-footer>