<div class="ui container">
  <h1 class="ui teal header">
    Modelo dos cards
  </h1>
  <div class="ui teal inverted segment">
  </div>
</div>

<br>

<div class="ui container">
  <div class="ui cards">
      <div class="ui green card">
        <div class="content">
          <p class="header">Teoria dos Grafos</p>
          <div class="description">
            Dica pra vida, assista as video aulas de Patricia, é nois flw
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            0 Amigos
          </a>
        </div>
      </div>
    
      <div class="ui red card">
        <div class="content">
          <p class="header">Laboratório de Estrutura de Dados e Algoritmos</p>
          <div class="description">
            Use interface que deu bom
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            2 Amigos
          </a>
        </div>
      </div>
    </div>
</div>
