<div class="ui container">
  <h1 class="ui teal header">Flash Cards</h1>
  <div class="ui divider"></div>
  <div class="ui content">
    <h3 class="ui header">
      O que é aqui.
    </h3>
    <br><br><br>

    <div class="ui three column center aligned very relaxed stackable grid">
      <div class="ui column">
        <h2 class="ui icon header">
        <i class="question icon"></i>
        <div class="content">
          Como funciona?
        </div>
        <div class="sub header">
          Explicação aqui.
        </div>
        </h2>
      </div>

      <div class="ui column">
        <h2 class="ui icon header">
        <i class="check circle icon"></i>
        <div class="content">
          Quero participar, como faço?
        </div>
        <div class="sub header">
          Explicação aqui.
        </div>
        </h2>
      </div>

      <div class="ui column">
        <h2 class="ui icon header">
        <i class="window clipboard outline icon"></i>
        <div class="content">
          Outra coisa aqui
        </div>
        <div class="sub header">
          Explicação aqui.
        </div>
        </h2>
      </div>

    </div>
  </div>
</div>
<br>